USER=your_username
DOMAIN_NAME=your_domain.42.fr


# MariaDB Configuration
MARIADB_ROOT_PASSWORD=your_secure_password_here
MARIADB_DATABASE=wordpress
MARIADB_USER=wpuser
MARIADB_PASSWORD=your_secure_password_here

MARIADB_ADMIN_USER=dbmanager
MARIADB_ADMIN_PASSWORD=your_secure_password_here

# WordPress Configuration
WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=your_secure_password_here

WORDPRESS_ADMIN_USER=wpowner
WORDPRESS_ADMIN_PASSWORD=your_secure_password_here
WORDPRESS_ADMIN_EMAIL=wpowner@42.fr

WORDPRESS_USER=your_username
WORDPRESS_USER_PASSWORD=your_secure_password_here
WORDPRESS_USER_EMAIL=your_email@42.fr

# 사이트 설정
WORDPRESS_TITLE=My Inception Site
